{% extends "layout.html" %}
{% block navbar %}
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Book Now</a>
        <a href="{{ url_for('details') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Details</a>

    <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact us</a>
  </div>
</div>
{% endblock navbar %}
{%block header%}
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo w3-black">BUS</h1>
  <p class="w3-xlarge">Bennett University Shuttle Service</p>
   <a href="{{ url_for('register') }}" class="w3-button w3-red w3-padding-large w3-large w3-margin-top" style='border-radius: 12px'>Book a Shuttle</a>
   <a href="{{ url_for('admin1') }}" class="w3-button w3-red w3-padding-large w3-large w3-margin-top" style='border-radius: 12px'>Login as Admin</a>



</header>
{%endblock header%}
{% block pgtitle %}
BusX is Bennett University's very own transportation system. 
{% endblock  pgtitle%}
{% block para2 %}
Going Home this weekend? Book your shuttle now. It's not only for the students, faculty too can book a shuttle through this system as well.
<div class="w3-third w3-center">
      <i class="fa fa-bus w3-padding-64 w3-text-black w3-margin-left" style="font-size:170px;"></i>
    </div>
{% endblock para2 %}

