{% extends "layout.html" %}
{% block navbar %}
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
    <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Book Now</a>
    <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-padding-large w3-white">details</a>
    
  </div>
</div>
{% endblock navbar %}
{% block pgtitle %}
DATABASE
{% endblock pgtitle %}
{% block para1 %}
//ENTER DATABASE


<table border = 1>
         <thead>
         	<td>SNO</td>
            <td>NAME</td>
            <td>ID></td>
            <td>PHONE</td>
            
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["sno"]}}</td>
               <td>{{row["name"]}}</td>
               <td> {{ row["ID"]}}</td>
               <td>{{row['phone']}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      






{% endblock para1 %}
{% block para2 %}
Going Home this weekend? Book your shuttle now. and its not only for the students. Faculty too can get their transport Bookings done through this system
{% endblock para2 %}
